.subMenuMargin{
    margin-top: 30px;
}
.marvinjs{
  background-color: white;
 -- text-align: center;
}
.sketch{

  max-width: 600px;
  height: 600px;
  border: 1px solid darkgray;
}
.basic_search_container{
  display: -ms-flexbox;
--	display: -webkit-flex;
--	display: grid;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  max-width: 1180px;

  padding-left: 30px;
}
.required label:before {
	content:" *";
}

.inputRadioMain {
	margin-right: 10px;
}



label.error {
  color: #ff0000;
}

.radioButton{
	margin-top: 7px;
}

#popup, #dialogLoadingPageError, #dialogSearchError {
	z-index: 2147483647;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.wrapper {
	width: 500px;
	height: 550px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 45%;
	left: 45%;
--	margin-left: -250px;
--	margin-top: -300px;
	z-index: 102;
}
label{
	cursor : text;
}

#depositText{
	width : 75%;
	display: inline-block;
}

#depositBox{
	width : 25%;
	display: inline-block;
	margin-top: 30px;
    margin-left: 3%;
}
#headerSec {
	display:flex;
}
@media screen and (max-width: 960px) {	
	#depositBox, #depositText{
		width : 50%;
	}	
}


@media screen and (max-width: 768px) {	
	.sketch{
		height: 400px;
	}
	#headerSec {
		display:block;
	}
	#depositBox, #depositText{
		width : 100%;
		margin:0;
	}
	
}
