<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="app" class="container-fluid">
  <div id="popup" style="display: none;">
    <div class="wrapper" style="height: 200px; width: 200px;">
      <img src="/custom/common/img/gear.gif" />
    </div>
  </div>

  <form id="globalForm" class="container" action="#" method="get">
    <div class="row align-items-center">
      <div class="col-md-12 col-xl-3">
        <label for="npaid" id="npalabel">NPAID:</label>
        <input
          type="text"
          name="npaid"
          id="npaid"
          placeholder="NPA123456"
          autocomplete="off"
          v-model="form.npaid"
          :disabled="form.node_id !== '' || form.cluster_id !== ''"
        />
      </div>

      <div class="col-md-12 col-xl-3">
        <label for="clusterID" id="clusterLabel">Cluster ID:</label>
        <input
          type="text"
          name="clusterID"
          id="clusterID"
          placeholder="1"
          autocomplete="off"
          v-model="form.cluster_id"
          :disabled="form.npaid !== '' || form.node_id !== ''"
          data-provide="typeahead"
        />
      </div>

      <div class="col-md-12 col-xl-3">
        <label for="nodeID" id="nodeLabel">Node ID:</label>
        <input
          type="text"
          name="nodeID"
          id="nodeID"
          placeholder="1"
          autocomplete="off"
          v-model="form.node_id"
          :disabled="form.npaid !== '' || form.cluster_id !== ''"
          data-provide="typeahead"
        />
      </div>

      <div class="col-xl-3">
        <input
          type="button"
          id="npasubmit"
          value="Submit"
          class="btn btn-primary col"
          @click="submitForm"
        />
        <input
          type="button"
          id="btn-reset"
          value="Reset"
          class="btn btn-primary col"
          @click="resetForm"
        />
      </div>
    </div>
  </form>

  <div
    id="error_msg"
    style="color: red; background-color: white;"
    v-show="message !== ''"
    v-html="message"
  ></div>
  <div id="myDiv" style="width: 100%; height: 120vh;"></div>
</div>

<script>
  const instance = axios.create({
    baseURL: "http://localhost/api/v1",
    timeout: 10000,
    headers: { "X-Api-Key": "eec687df-aa7e-46ff-b02a-c315fd06bb08" },
  });

  var app = new Vue({
    el: "#app",
    data: {
      form: { npaid: "", cluster_id: "", node_id: "" },
      message: "",
      storedSearchResultArr: [],
      global_coordinates: "",
      node_array: [],
    },
    methods: {
      submitForm: function () {
        this.message = "";
        if (this.form.npaid !== "") {
          instance
            .get(`/compound/${this.form.npaid}/node`)
            .then((resp) => {
              let node_arr = [resp.data.id];
              this.node_array = node_arr;
              drawGraph(this.global_coordinates, node_arr);
              history.pushState(
                { npaid: this.form.npaid },
                `NPAID ${this.form.npaid}`,
                `${location.href.split("?")[0]}?npaid=${this.form.npaid}`
              );
            })
            .catch((err) => {
              console.error(err);
              this.message = `NPA${this.form.npaid} is either not in the Atlas or has no node data.`;
            });
        } else if (this.form.cluster_id !== "") {
          instance
            .get(`/cluster/${this.form.cluster_id}/node`)
            .then((resp) => {
              let node_arr = [resp.data.id];
              this.node_array = node_arr;
              drawGraph(this.global_coordinates, node_arr);
              history.pushState(
                { clusterid: this.form.cluster_id },
                `Cluster ID ${this.form.cluster_id}`,
                `${location.href.split("?")[0]}?clusterid=${
                  this.form.cluster_id
                }`
              );
            })
            .catch((err) => {
              console.error(err);
              this.message = `Cluster #${this.form.cluster_id} is either not in the Atlas or has no node data.`;
            });
        } else if (this.form.node_id !== "") {
          instance
            .get(`/node/${this.form.node_id}`)
            .then((resp) => {
              let node_arr = [resp.data.id];
              this.node_array = node_arr;
              drawGraph(this.global_coordinates, node_arr);
              history.pushState(
                { nodeid: this.form.node_id },
                `Node ID ${this.form.node_id}`,
                `${location.href.split("?")[0]}?nodeid=${this.form.node_id}`
              );
            })
            .catch((err) => {
              console.error(err);
              this.message = `Node #${this.form.cluster_id} is either not in the Atlas or has no node data.`;
            });
        } else {
          this.message = "Please enter valid data.";
        }
        this.$nextTick();
      },
      resetForm: function () {
        this.form = { npaid: "", cluster_id: "", node_id: "" };
        this.message = "";
        this.node_array = [];
        sessionStorage.removeItem("basicSearchResults");
        drawGraph(this.global_coordinates, []);
        history.pushState({}, "", location.href.split("?")[0]);
        this.$nextTick();
      },
    },
    mounted() {
      //Load Query Param
      if (location.search !== "") {
        const url = new URL(location);
        const q_npaid = url.searchParams.get("npaid");
        const q_cluster_id = url.searchParams.get("clusterid");
        const q_node_id = url.searchParams.get("nodeid");
        if (q_npaid !== null) {
          let clean_npaid = parseInt(q_npaid.replace("NPA", ""));
          if (clean_npaid !== NaN) {
            this.form.npaid = clean_npaid;
            this.submitForm();
          }
        } else if (q_cluster_id !== null) {
          let clean_cluster_id = parseInt(q_cluster_id);
          if (clean_cluster_id !== NaN) {
            this.form.cluster_id = clean_cluster_id;
            this.submitForm();
          }
        } else if (q_node_id !== null) {
          let clean_node_id = parseInt(q_node_id);
          if (clean_node_id !== NaN) {
            this.form.node_id = clean_node_id;
            this.submitForm();
          }
        }
      }
      // Get necessary data
      let stored_res = JSON.parse(
        sessionStorage.getItem("basicSearchResults") || "[]"
      );
      sessionStorage.removeItem("basicSearchResults");
      getGlobalCoordinates(stored_res).then((resp) => {
        if (stored_res.length > 0) {
          this.node_array = stored_res;
        }
        this.global_coordinates = resp;
        drawGraph(resp, stored_res);
      });
    },
  });

  function getCurrentVersion() {
    return new Promise(function (resolve, reject) {
      userSelectedVersion_global = sessionStorage.getItem("selectedVersion");
      if (!userSelectedVersion_global) {
        var globalVersion = "/custom/common/xhr/versionConfig.json";
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var obj = JSON.parse(this.responseText);
            userSelectedVersion_global = obj["currentVersion"];
            resolve(userSelectedVersion_global);
          }
        };
        xmlhttp.open("GET", globalVersion, true);
        xmlhttp.send();
      } else resolve(userSelectedVersion_global);
    });
  }

  function getGlobalCoordinates(arrResults) {
    return new Promise(function (resolve, reject) {
      getCurrentVersion().then((version) => {
        var globalCo = "/custom/versions/" + version + "/global.csv";
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var data = this.responseText;
            resolve(data, arrResults);
          }
        };
        xmlhttp.open("GET", globalCo, true);
        xmlhttp.send();
      });
    });
  }

  function drawGraph(response, nodeIDArr) {
    //   console.log("nodeIDArr in drawGraph " + nodeIDArr);
    coordinatesString = response;
    jQuery("#error_msg").hide();
    jQuery("#myDiv").show();
    var csvData = new Array();
    var params = [];
    var jsonObject = response.split(/\r?\n|\r/);
    for (var i = 0; i < jsonObject.length; i++) {
      var b = jsonObject[i].split(",").map(function (item) {
        return parseFloat(item, 10);
      });
      csvData.push(b);
    }
    for (var i = 0; i < csvData.length; i++) {
      if (csvData[i][1]) {
        var dotSize = Math.log(csvData[i][1] + 1) * 20;
        var sColor = "grey";
        if (nodeIDArr) {
          for (var j = 0; j < nodeIDArr.length; j++) {
            if (nodeIDArr[j] == csvData[i][0]) sColor = "red";
          }
        }
        var obj = {
          id: "NODE ID : " + csvData[i][0],
          x: csvData[i][2],
          y: csvData[i][3],
          z: csvData[i][4],
          size: dotSize,
          color: sColor,
        };
        params.push(obj);
      }
    }
    function unpack(rows, key) {
      return rows.map(function (row) {
        return row[key];
      });
    }
    var trace1 = {
      x: unpack(params, "x"),
      y: unpack(params, "y"),
      z: unpack(params, "z"),
      mode: "markers",
      //mode: 'markers+lines+text',
      text: unpack(params, "id"),
      hoverinfo: "text",
      marker: {
        size: unpack(params, "size"),
        color: unpack(params, "color"),
        //	color: 'black',
        //	nodeIDs : unpack(params, 'nodeID'),
        line: {
          //	  color: 'rgba(217, 217, 217, 0.14)',
          color: "black",
          width: 0.5,
        },
        opacity: 0.8,
      },
      type: "scatter3d",

      //showlegend : false
      // visible : false
    };
    var data = [trace1];
    var layout = {
      scene: {
        xaxis: {
          autorange: true,
          title: "",
          showgrid: false,
          zeroline: false,
          showline: false,
          // showscale: true,
          autotick: false,
          //  ticks: '',
          showticklabels: false,
          showspikes: false,
        },
        yaxis: {
          autorange: true,
          title: "",
          showgrid: false,
          zeroline: false,
          //  showscale: true,
          showline: false,
          autotick: false,
          //  ticks: '',
          showticklabels: false,
          showspikes: false,
        },
        zaxis: {
          autorange: true,
          title: "",
          showgrid: false,
          zeroline: false,
          //  showscale: true,
          showline: false,
          //   autotick: false,
          //   ticks: '',
          showticklabels: false,
          showspikes: false,
        },
      },
      margin: {
        l: 0,
        r: 0,
        b: 0,
        t: 0,
      },
      hoverlabel: {
        bgcolor: "blue",
        font: { color: "white" },
      },
    };
    Plotly.newPlot("myDiv", data, layout, { displayModeBar: false });
    // checkScreenLoading();
    var myPlot = document.getElementById("myDiv");
    myPlot.on("plotly_click", function (data) {
      console.log("clicking something ", data);
      var arr = data.points[0].text.split(": ");
      window.open("/joomla/index.php/explore/nodes#nodeid=" + arr[1], "_self");
    });
  }
</script>
