.basic_search_container{
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
--	webkit-align-items: center;
	-webkit-box-align: center;

--	align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  max-width: 1180px;
}
.marvinjs{
  background-color: white;
  text-align: center;
}
.sketch{
  /*overflow: hidden;*/
--  min-width: 600px;
  max-width: 600px;
  height: 600px;
  border: 1px solid darkgray;

}
#basic_search_form{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  /*min-width: 500px;*/
}
#basic_search_form ul{
    list-style:none;
    margin:0;
    padding:0;
}

#basic_search_result{
  background-color: white;
}
/*
#btn-reset{
  background: #F2F1F0;
  border: 0;
  color: grey;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin-left: 390px;
  -webkit-appearance: button;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
} */
#threshold
{
  width: 30%;
}

.basic_search_container * {
  box-sizing: border-box;
}


.basic_search_form_outer{
  list-style-type: none;
  padding: 0;

}
/*.basic_search_form_outer label,input{
  vertical-align: baseline;
  width: 150px;
}*/

.basic_search_form_outer {
  max-width: 800px;
  margin: 0 auto;
}



.basic_search_form_outer li{
  display: flex;
  align-items: flex-start;
  align : left;
  vertical-align: middle;
  line-height: 100%;
}

li> label{
  display:inline-block;
  padding-right:  8px;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
  line-height: 100%;
--  flex: 1 0 120px;
--  max-width: 220px;
--  min-width: 60px;
}



/*#basic_search_form_outer > li:not(:last-child) {
  margin-bottom: 20px;
}*/

.basic_search_form_outer li label,
.basic_search_form_outer li p {
  padding-right:  8px;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: top;
  line-height: 100%;
}

.basic_search_form_outer > li > label,
.basic_search_form_outer li p {
  flex: 1 0 120px;
  max-width: 220px;

}
#aml label{
  flex: 1 0 100px;
  max-width: 220px;
}
.basic_search_form_outer > li > label + *{
  flex: 1 0 220px;
}

.basic_search_form_outer li p {
  margin: 0;
}

/*.basic_search_form_outer li input[type=submit],
.basic_search_form_outer li input[type=reset]
{
  padding: 8px 16px;
  border: none;
  color: grey;
  border-radius: 2px;
}*/
#basic_search_form_inner {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  justify-content: flex-start;
  flex: 1 0 220px;
}

table {
    border-collapse: collapse;
	border: 1px solid grey;
}

/*css for marvin and image containers*/

.close-button {
	float: right;
	font-weight: bold;
  font-size: 25px;
	color: rgb(250, 250, 240);
	visibility: inherit;
	background: inherit;
	border: none;
	z-index: inherit;
}

#popup iframe {
	width: 500px;
	height: 510px;
	margin: 0px;
	padding: 0px;
	border:none;
  box-shadow: 2px 2px 8px #888;
}

#popup .wrapper, #loadingIcon .wrapper {
	width: 600px;
	height: 550px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -300px;
	z-index: 102;
}

 #sketchContainer{
 	clear:both;
	margin: 0px;
	padding: 0px;
--	width:520px;
}

#popup {
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.image-container {
	margin-top: 10px;
	margin-bottom: 30px;
	display: inline-table;
}
.image-container img{
	background-color: transparent;
	box-shadow: 2px 2px 8px #444;
transform:rotate(0deg);
-ms-transform:rotate(0deg); /* Internet Explorer */
-moz-transform:rotate(0deg); /* Firefox */
-webkit-transform:rotate(0deg); /* Safari and Chrome */
-o-transform:rotate(0deg); /* Opera */

-webkit-transition: -webkit-transform 0.2s linear 0s;
-moz-transition: -moz-transform 0.2s linear 0s;
-o-transition: -o-transform 0.2s linear 0s;
transition: transform 0.2s linear 0s;
}

.image-container img:hover{
 	background-color: white;
 	box-shadow: 2px 2px 8px #444;
transform:scale(1.05);
-ms-transform:scale(1.05); /* Internet Explorer */
-moz-transform:scale(1.05); /* Firefox */
-webkit-transform:scale(1.05); /* Safari and Chrome */
-o-transform:scale(1.05); /* Opera */

-webkit-transition: -webkit-transform 0.2s linear 0s;
-moz-transition: -moz-transform 0.2s linear 0s;
-o-transition: -o-transform 0.2s linear 0s;
transition: transform 0.2s linear 0s;
}

.inside_thead table,
.inside_thead tr,
.inside_thead th,
.inside_thead td
 {
  border: 0;
}


#loadingIcon, #dialogLoadingPageError, #dialogSearchError {
	z-index: 2147483647;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#loadingIcon .wrapper, #dialogLoadingPageError .wrapper{
	margin-left : 0; margin-top : 0; top : 45%; left : 45%;
}

.typeahead, .typeahead1{
	width : 26%;
}
.dropdown-item{
	width : 100%;
}

.ui-dialog{
	z-index: 10145;
	width: 390px;
}

.resultNum{
	text-align: center;
    border: 1px solid grey;
    background: rgba(0, 0, 0, 0.1);
}


.parentDivResult{
	display : flex;
}
.compInfoDivResults{
	width : 53%;
}
.image-container{
	width : 47%;
}
#marvinjs {
	width : 50%;
}
.firstRow, .firstRowTH{
	border-top : 0;
}
.firstRowTH{
	width : 51%;
}
#originChar{
	width : 100%
}
#btn-reset{
	margin-left: 74%;
}
@media screen and (max-width: 1200px) {
	.resultImage{
		width: 350px;
	--	margin-left: 2%;
		margin-top: 20%;
	}
	#marvin_popup_image{
		width: 500px;
		margin-top:0;
	}
	#marvinjs {
		width : 100%;
	}
}

@media screen and (max-width: 960px) {
	.resultImage{
		width: 300px;
	--	margin-left: 2%;
		margin-top: 20%;
	}
	#marvin_popup_image{
		width: 500px;
		margin-top:0;
	}
}

@media screen and (max-width: 768px) {
	#basic_search_form{
		margin-left:0;
	}
	.parentDivResult{
		display : block;
	}
	.image-container, .compInfoDivResults{
		width : 100%;
	}
	.resultImage{
		width: 500px;
		margin-left: 0;
		margin-top: 0;
	}
	#marvin_popup_image{
		width: 100%;
	}
	.firstRowTH{
		width: 44%;
	}
	.firstRow, .firstRowTH{
		border-top: 1px solid grey;
	}
	#btn-reset{
		margin-left: 58%;
	}
	.sketch{
		height: 400px;
	}
}
@media screen and (max-width: 500px) {
	#popup .wrapper{
		width: 350px;
		left: 68%;
	}
}
@media screen and (max-width: 400px) {

	#btn-reset{
		margin-left: 50%;
	}
}
@media screen and (max-width: 350px) {
	#popup .wrapper{
		width: 300px;
		left: 80%;
	}
	#btn-reset{
		margin-left: 44%;
	}
}


