<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div id="app" class="container-fluid">
  <div id="loadingIcon" v-show="loading">
    <div class="wrapper">
      <img src="/custom/common/img/gear.gif" />
    </div>
  </div>

  <!-- hidden div for GNPS pop-up-->
  <div id="gnps-popup" class="modal" style="display:none; max-height: 400px; overflow-y: auto">
    <div>
        <table style="table-layout: fixed; width: 100%;" id="gnps-table">
          <tr style="text-transform: uppercase;">
            <th>ID</th>
            <th>Spectrum Quality</th>
            <th>Annotated Name</th>
          </tr>
          <tr v-for="g in compound.gnps" :key="g[0]">
            <td><a :href="`https://gnps.ucsd.edu/ProteoSAFe/gnpslibraryspectrum.jsp?SpectrumID=${g[0]}`" target="_blank">{{ g[0] }}</a></td>
            <td>{{ g[1] }}</td>
            <td>{{ g[2] }}</td>
          </tr>
        </table>
    </div>
  </div>

  <!-- Input Form -->
  <form
    action="#"
    method="get"
    id="explorecompounds"
    class="container"
  >
    <div class="row align-items-center">
      <div class="col-md-12 col-xl-4">
        <label for="npaid" id="npalabel">NPAID:</label>
        <input
          type="text"
          name="npaid"
          id="npaid"
          placeholder="NPA123456"
          autocomplete="off"
          v-model="form.npaid"
          :disabled="form.name !== ''"
        />
      </div>

      <div class="col-md-12 col-xl-6">
        <label for="compoundName" id="nameLabel">Compound Name:</label>
        <input
          type="text"
          name="compoundName"
          id="compoundName"
          placeholder="Compound name"
          autocomplete="off"
          v-model="form.name"
          :disabled="form.npaid !== ''"
          data-provide="typeahead"
        />
      </div>

      <div class="col-xl-2">
        <input
          type="button"
          id="npasubmit"
          value="Submit"
          class="btn btn-primary col"
          @click="submitForm"
        />
        <input
          type="button"
          id="btn-reset"
          value="Reset"
          class="btn btn-primary col"
          @click="resetForm"
        />
      </div>
    </div>
  </form>

  <div v-if="has_compound === false" class="container">
    <div class="row">
      <h3 class="text-center">
        Please enter an NPAID or Compound Name to see more details
      </h3>
      <div v-show="message !== ''" v-html="message" style="color: red;"></div>
      <img class="examImage" src="/custom/common/img/example_compound.png" />
    </div>
  </div>

  <div v-else class="container" :key="compound.npaid">
    <div id="explore_results" class="container align-items-center justify-content-between">
      <h3 id="compound_title">
        Compound {{ compound.npaid }}
      </h3>
      <div id="compound_info">
        <!-- <div id="compound_info" class="container align-items-start justify-content-between"> -->
        <div id="structure_container">
          <h5>COMPOUND STRUCTURE</h5>
          <div class="image-container">
            <img
              :src="`/custom/versions/${version}/png/${compound.npaid}_hw500.png`"
              alt="Image structure"
            />
          </div>
          <table style="table-layout: fixed; width: 100%;">
            <tr>
              <th style="text-transform: uppercase;">Export Options</th>
              <td>
                <a
                  type="button"
                  id="image_link_button"
                  class="btn btn-primary"
                  style="margin-right: 5px; min-width: 50px; font-size: medium;"
                  :href="`/custom/versions/${version}/png/${compound.npaid}_hw1000.png`"
                  download
                >PNG</a>
                <a
                  type="button"
                  value="JSON"
                  id="jsonFileDownload"
                  class="btn btn-primary"
                  style="margin-right: 5px; min-width: 50px; font-size: medium;"
                  :href="`/api/v1/compound/${compound.npaid}`"
                  :download="`${compound.npaid}.json`"
                >JSON</a>
                <a
                  type="button"
                  value="SDF"
                  id="sdfFileDownload"
                  class="btn btn-primary"
                  style="margin-right: 5px; min-width: 50px; font-size: medium;"
                  :href="`/api/v1/compound/${compound.npaid}/mol?encode=sdf`"
                  :download="`${compound.npaid}.sdf`"
                >SDF</a>
                <!-- <input
                  type="button"
                  value="TSV"
                  id="tsvFileDownload"
                  class="btn btn-secondary"
                  style="margin-right: 0px; width: 40px;"
                /> -->
              </td>
            </tr>

            <tr>
              <th style="text-transform: uppercase;">
                Project Molecule to Global View
              </th>
              <td>
                <a
                  :href="`/joomla/index.php/explore/global?npaid=${compound.npaid}`"
                >
                  <input
                    type="button"
                    value="See Global"
                    id="global_link_button"
                    class="btn btn-primary"
                    style="margin-right: 0px; width: 80px;"
                  />
                </a>
              </td>
            </tr>
          </table>
          <table
            style="table-layout: fixed; width: 100%;"
            id="external_link_table"
          >
            <tr>
              <th class="text-center">
                EXTERNAL LINKS
              </th>
            </tr>
            <td style="align-content: center;">
              <a :href="`https://mibig.secondarymetabolites.org/repository/${compound.mibig}`"
                v-show="compound.mibig != null" id="mibig_outlink"
                target="_blank"
                >
                <img
                  src="/custom/common/img/mibig_logo.png"
                  alt="mibig logo"
                  style="width: auto; height: 45px; float: left;"
                  id="mibig_outlink_img"
                />
              </a>

              <a data-toggle="modal" href="#gnps-popup" id="gnps_outlink" v-show="compound.gnps.length > 0">
                <img
                  src="/custom/common/img/gnps_logo.png"
                  alt="gnps logo"
                  style="width: auto; height: 45px; float: right;"
                  id="gnps_outlink_img"
                />
              </a>
            </td>
          </table>
        </div>

        <div id="compound_info_table">
          <h5>COMPOUND PROPERTIES</h5>
          <table id="compound_info_table_table">
            <tr>
              <th style="width: 40%;">NPA ID</th>
              <td>{{ compound.npaid }}</td>
            </tr>

            <tr>
              <th>CLUSTER ID</th>
              <td>
                <a
                  :href="`/joomla/index.php/explore/clusters?npaid=${compound.npaid}`"
                  >{{ compound.cluster_id }}</a
                >
              </td>
            </tr>

            <tr>
              <th>NODE ID</th>
              <td>
                <a
                  :href="`/joomla/index.php/explore/nodes?npaid=${compound.npaid}`"
                  >{{ compound.node_id }}</a
                >
              </td>
            </tr>

            <tr>
              <th>NAME</th>
              <td>{{ compound.name }}</td>
            </tr>

            <tr>
              <th>FORMULA</th>
              <td>{{ compound.mol_formula }}</td>
            </tr>

            <tr>
              <th>MOLECULAR WEIGHT (Da)</th>
              <td>{{ compound.mol_weight.toFixed(2) }}</td>
            </tr>

            <tr>
              <th>ACCURATE MASS (Da)</th>
              <td>{{ compound.exact_mass }}</td>
            </tr>

            <tr>
              <th>ORIGIN ORGANISM TYPE</th>
              <td>{{ compound.origin_type }}</td>
            </tr>

            <tr>
              <th>ORIGIN GENUS</th>
              <td>{{ compound.origin_genus }}</td>
            </tr>

            <tr>
              <th>ORIGIN SPECIES</th>
              <td>{{ compound.origin_species }}</td>
            </tr>

            <tr>
              <th>InChIKey</th>
              <td>{{ compound.inchikey }}</td>
            </tr>

            <tr>
              <th>InChI</th>
              <td>{{ compound.inchi }}</td>
            </tr>

            <tr>
              <th>SMILES</th>
              <td>{{ compound.smiles }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div id="isolationReference" class="container-fluid">
        <div class="row align-items-center">
          <h5 class="col text-center">ORIGINAL ISOLATION REFERENCE</h5>
        </div>
        <div class="row">
          <div class="backgroundColName" id="isoRefCitLabel">
            <label>CITATION</label>
          </div>
          <div
            class="backgroundValue"
            id="isoRefCitValue"
          >
            <span id="citReference" v-html="compound.origin_reference"></span>
          </div>
        </div>

        <div class="row">
          <div class="backgroundColName" id="isoRefDOILabel">
            <label>DOI</label>
          </div>
          <div
            class="backgroundValue"
            id="isoRefDOIValue"
            style="margin-left: 0;"
          >
            <a
              :href="`http://doi.org/${compound.origin_doi}`"
              target="_blank"
              style="word-break: break-all;"
              >{{ compound.origin_doi }}</a
            >
          </div>
          <div class="backgroundColName" id="isoRefPMIDLabel">
            <label>PMID</label>
          </div>
          <div
            class="backgroundValue"
            id="isoRefPMIDValue"
            style="margin-left: 0;"
          >
            <a
              :href="`https://www.ncbi.nlm.nih.gov/pubmed/${compound.origin_pmid}`"
              target="_blank"
              style="word-break: break-all;"
            >
              {{ compound.origin_pmid }}
            </a>
          </div>
        </div>
      </div>
      <div id="compReassignment" class="reassignment"></div>
      <div id="totalSynthesis" class="sythesis"></div>
    </div>
  </div>
</div>

  <!-- script -->
  <script>
    const instance = axios.create({
      baseURL: "http://localhost/api/v1",
      timeout: 10000,
      headers: { "X-Api-Key": "eec687df-aa7e-46ff-b02a-c315fd06bb08" },
    });

    const LEVEL_MAP = { "1": "Gold", "2": "Silver", "3": "Bronze" };
    const fresh_compound = {
          npaid: "",
          name: "",
          mol_formula: "",
          inchikey: "",
          inchi: "",
          smiles: "",
          mol_weight: 0.0,
          exact_mass: 0.0,
          cluster_id: 0,
          node_id: 0,
          origin_reference: "",
          origin_doi: "",
          origin_pmid: 0,
          origin_genus: "",
          origin_taxon_id: 0,
          origin_species: 0,
          syntheses: [],
          reassignments: [],
          external_ids: [],
          mibig: "",
          gnps: [],
        }

    var app = new Vue({
      el: "#app",
      data: {
        version: null,
        loading: false,
        has_compound: false,
        compound: {...fresh_compound},
        form: {
          npaid: "",
          name: "",
        },
        all_npaids: [],
        all_names: [],
        message: "",
      },
      methods: {
        toggleLoading: function () {
          this.loading = !this.loading;
        },
        resetForm: function () {
          this.compound = {...fresh_compound}
          this.has_compound = false;
          this.form.npaid = "";
          this.form.name = "";
          this.message = ""
          history.pushState({}, "", location.href.split("?")[0]);
        },
        handleBadNPAID: function (npaid) {
          this.has_compound = false;
          this.compound = {...fresh_compound};
          this.message = `NPA${String(npaid).padStart(6, "0")} is not in the Atlas.`;
        },
        get_compound: function (npaid) {
          instance.get(`/compound/${npaid}`).then((resp) => {
            let data = resp.data;
            let mibig = data.external_ids.find(el => el.external_db_name === "mibig");
            let gnps = data.external_ids.filter(el => el.external_db_name === "gnps")
            this.compound.npaid = "NPA" + String(data.npaid).padStart(6, "0");
            this.compound.name = data.name;
            this.compound.mol_formula = data.mol_formula;
            this.compound.inchikey = data.inchikey;
            this.compound.inchi = data.inchi;
            this.compound.smiles = data.smiles;
            this.compound.mol_weight = data.mol_weight;
            this.compound.exact_mass = data.exact_mass;
            this.compound.cluster_id = data.cluster_id;
            this.compound.node_id = data.node_id;
            this.compound.origin_reference = this.format_reference(data.origin_reference);
            this.compound.origin_doi = data.origin_reference.doi;
            this.compound.origin_pmid = data.origin_reference.pmid;
            this.compound.origin_type = data.origin_organism.type;
            this.compound.origin_genus = data.origin_organism.genus;
            this.compound.origin_taxon_id = data.origin_organism.taxon.id;
            this.compound.origin_species = data.origin_organism.species;
            this.compound.external_ids = data.external_ids;
            this.compound.mibig = mibig != null ? mibig.external_db_code : null
            this.compound.gnps = gnps.map(el => el.external_db_code.split("%").map((x, idx) => idx === 1 ? LEVEL_MAP[x] : x ))
            this.has_compound = true;
          })
          this.$nextTick()
        },
        format_reference: function (ref) {
          let ref_string = `${ref.authors} <b>${ref.title}</b> <i>${ref.journal}</i> <b>${ref.year}</b> `
          if (ref.volume !== null) { ref_string += `<i>${ref.volume}</i>` }
          if (ref.issue !== null) { ref_string += `(${ref.issue})` }
          ref_string += ` ${ref.pages}.`
          return ref_string
        },
        submitForm: function () {
          this.message = ""
          if (this.form.npaid !== "") {
            let clean_npaid = parseInt(this.form.npaid.replace("NPA", ""));
            if (clean_npaid === NaN || !this.all_npaids.includes(clean_npaid))
              this.handleBadNPAID(this.form.npaid);
            else {
              this.get_compound(clean_npaid);
              history.pushState(
                { npaid: clean_npaid },
                `NPAID ${clean_npaid}`,
                `${location.href.split("?")[0]}?npaid=${clean_npaid}`
              );
              }
          }
          if (this.form.name !== "") {
            instance.get(`/compounds/?name=${escape(this.form.name)}`).then(resp => {
              let data = resp.data;
              if (data.length == 1) {
                this.get_compound(data[0].npaid)
                history.pushState(
                  { name: this.form.name },
                  "",
                  `${location.href.split("?")[0]}?name=${escape(this.form.name)}`
                );
              } else if (data.length > 1) {
                this.message = "There is more than one compound which matches the input name. Please try the basic search instead."
              } else {
                this.message = "There are no compounds which match the input name."
              }
            })
          }
        },
        downloadPng: function() {
          instance.get()
        }
      },
      mounted() {
        getCurrentVersion().then(value => {
          this.version = value;
        });
        //Load Query Param
        if (location.search !== "") {
          const url = new URL(location);
          const q_npaid = url.searchParams.get("npaid");
          if (q_npaid !== null) {
            let clean_npaid = parseInt(q_npaid.replace("NPA", ""));
            if (clean_npaid !== NaN) {
              this.get_compound(clean_npaid);
              this.form.npaid = clean_npaid;
            }
          }
        }
        // Get necessary data
        instance.get("/compounds/npaids/").then((resp) => {
          all_npaids = resp.data.map((x) =>
            parseInt(x.replace("NPA", ""))
          );
          this.all_npaids = all_npaids
        });
        instance.get("/compounds/names/").then((resp) => {
          this.all_names = resp.data;
          all_names = localData.names;
        });
      },
    });

  function getCurrentVersion() {
    return new Promise(function (resolve, reject) {
      userSelectedVersion_global = sessionStorage.getItem("selectedVersion");
      if (!userSelectedVersion_global) {
        var globalVersion = "/custom/common/xhr/versionConfig.json";
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var obj = JSON.parse(this.responseText);
            userSelectedVersion_global = obj["currentVersion"];
            resolve(userSelectedVersion_global);
          }
        };
        xmlhttp.open("GET", globalVersion, true);
        xmlhttp.send();
      } else resolve(userSelectedVersion_global);
    });
  }
  </script>


  <link
    rel="stylesheet"
    type="text/css"
    href="/custom/explore/compounds/compounds.css"
  />
</div>