label {
    cursor: text;
    display: inline-block;
}
#numberDiv , #clusterDataDiv, #nodeDataDiv{
    display: flex;
}
#noBacteriaDiv, #noFungusDiv, #totalClustersDiv, #bigClusterDiv, #noOfCompBigClusterDiv, #totalNodesDiv, #bigNodeDiv, #noOfCompBigNodeDiv{
    width: 33%;
}
#noCompDiv{
    width: 35%; border: 2px solid;
}
#noOfComp, #noOfBacteria, #noOfFungus, #noOfClusters, #biggestClusterID, #biggestClusterCount, #noOfNodes, #biggestNodeID, #biggestNodeCount{
    font-weight: bolder;
}
#chartGenus .c3-event-rects, #chartBacteria .c3-event-rects, #chartFungus .c3-event-rects {
    display: none;
 }
 #chartGenus, #chartBacteria, #chartFungus, #chartCluster, #compCountDiv, #chartNode, #chartMolWt{
     height: 500px;
 }
 h3{
    text-align: center;
 }
 #totalCompLabel{
    font-size: 25px; font-weight: bolder; padding-top: 20px;
 }
 #noCompDiv, #noBacteriaDiv, #noFungusDiv{
    margin-top: auto; margin-bottom: auto; text-align: center;
 }
 #noOfComp {
    font-size: 100px;
 }
 #noFungusDiv{
    height: 224px;
    margin-top: 0;
 }

 @media screen and (max-width: 960px) {
    #noOfComp {
        font-size: 75px;
     }
 }
 @media screen and (max-width: 768px) {
    #numberDiv {
        display: block;
     }
     #noCompDiv, #noBacteriaDiv, #noFungusDiv{
         width: 100%;
     }
 }

